@font-face {
    font-family: face;
    src: url(../fonts/Cairo-Regular.ttf);
}
body {
    font-family: cairoRegular, sans-serif;
    background-color: #000;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.429;
}
/****navbar****/
header .navbar {
    box-shadow: 1px 2px 5px #000;
    background-color: #f3a93b !important;
}
header .navbar-light .navbar-nav .nav-link {
    color: black;
}
header .navbar-brand:hover {
    color: #fff !important;
}
header .navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(17, 10, 1);
    color: #fff;
}
header .navbar-nav .dropdown-menu {
    background-color: #f3a93b;
}
header .dropdown-item:hover {
    background-color: #000;
    color: #fff;
}
header .btn {
    padding: 5px 10px 4px;
    color: #f3a93b;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}
header.btn-icon:hover {
    color: #000000;
    background-color: #bfbfbf;
}
/****navbar****/

/**cards-meals***/
.custom-thumbnail {
    background: #f3a93b;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #e0eded;
}
.custom-thumbnail .card-body {
    padding: 9px;
}
.custom-thumbnail:hover {
    border-color: #000;
}
.custom-thumbnail img {
    height: 240px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

.cards-meals .meals-title {
    margin: 10px 0 0 0;
    padding: 0;
    border-bottom: 0;
}

.custom-thumbnail h4 {
    font-size: 25px;
    padding-bottom: 15px;
}

.cards-meals .meals-title a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 5px;
}
a {
    color: #fff;
    text-decoration: none !important;
    background-color: transparent;
}
@media (max-width: 767px) {
    .custom-thumbnail {
        padding: 1px;
    margin-bottom: 5px;
    padding-top: 10px;
    }
}
/**cards-meals***/

section.offers {
    padding: 55px 0;
}
section.offers .title h3 {
    font-size: 30px;
    color: #ffffff;
}

section.offers .plan {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ededed;
    padding-top: 15px;
    margin-top: 100px;
}

section.offers .plan p {
    color: #f3a93b;
    font-size: 18px;
}

section.offers .plan h3 {
    font-size: 50px;
    margin: 30px auto;
}

section.offers .plan h3 span {
    font-size: 15px;
    vertical-align: bottom;
}

section.offers .plan ul li {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}

section.offers .plan ul {
    padding: 0;
    margin: 0;
}

section.offers .plan button {
    border: 1px solid #f3a93b;
    background-color: #ffffff;
    color: #f3a93b;
    font-family: ar-font;
    border-radius: 0px;
    padding: .5rem 1.75rem;
}

section.offers .plan button:hover {
    color: #fff;
    background: #f3a93b;
}

section.offers .plan.popular {
    margin-top: 55px;
    padding-top: 60px;
}

section.offers .plan.popular button {
    border: 1px solid #f3a93b;
    background-color: #f3a93b;
    color: #ffffff;
}

section.offers .plan.popular button:hover {
    background: #ffffff;
    color: #f3a93b;
}
/*****footer****/

.site-footer {
    background-color: #f3a93b;
    padding: 20px 0 10px;
    line-height: 15px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    display: block !important;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.site-footer p {
    color: #000;
}
.site-footer hr {
    border-top-color: #000;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}
.footer-items {
    padding-left: 0;
    list-style: none;
}
.footer-items li {
    display: block;
    color: #000;
}
.footer-items li:active,
.footer-items li:focus,
.footer-items li:hover {
    color: #fff;
    text-decoration: none;
}
.footer-items.inline li {
    display: inline-block;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #ffff;
}

#copyright {
    margin: 0;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li title {
    margin-right: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons a.Facebook:hover {
    background-color: #3b5998;
}
.social-icons a.Twitter:hover {
    background-color: #00aced;
}
.social-icons a.Instagram:hover {
    background-color: #ea4c89;
}
.social-icons a.Linkedin:hover {
    background-color: #007bb6;
}

@media (max-width: 991px) {
    .site-footer[class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
@media (max-width: 500px) {
    .social-icons li {
        padding-top: 20px;
        right: 50px;
    }
}
@media (max-width: 508px) {
    .site-footer p {
        font-size: 14px;
    }
    #copyright {
        text-align: center;
        padding-bottom: 10px;
    }
}

/*****footer****/
/***section contact****/
section.contacts {
    background-color: #000;
    padding-top: 100px;
    text-align: right;
}
section.contacts .info h3 {
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
}
section.contacts .info ul li {
    font-size: 18px;
    line-height: 25px;
    color: #f3a93b;
    margin-bottom: 15px;
}
section.contacts .info ul {
    padding: 0;
}

section.contacts .info ul li i {
    margin-left: 6px;
}
section.contacts .form h3 {
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    margin: 50px auto 20px;
}
section.contacts .form form input, section.contacts .form form textarea {
    background-color: #f7f7f7;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #5c5c5c;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
}
section.contacts .form form button {
    background-color: #f3a93b;
    font-family: ar-font;
    font-size: 15px;
    color: #ffffff;
    line-height: 25px;
    padding: 10px 25px;
    border-radius: 3px;
    border: 0;
    margin-right: 15px;
}
section.contacts .cmxform {
    width: 60%;
    margin: 0 auto 50px;
}

section.contacts .form form .error {
    color: red;
}
/***section contact****/






